<header>
  <div class="header-container">
    <div>
      <a href="/">
        <picture>
          <source srcset="/img/VonageLogo_Primary_White.png" media="(prefers-color-scheme:dark)">
          <img src="/img/VonageLogo_Primary_Black.png" alt="Vonage logo">
        </picture>
      </a>
    </div>
    <div>
      <blockquote>
        <p>Code that connects you with anyone, anywhere and anytime.</p>
      </blockquote>
    </div>
  </div>
  <nav>
    <a href="<%= pages_home_path %>">Home</a>
    <a href="<%= pages_authenticated_path %>">Authenticated</a>
    <a href="<%= pages_two_factor_authenticated_path %>">Two-Factor Authenticated</a>
  </nav>
</header>