<h1>Authenticated</h1>
<img src="/img/Voyagers_Andi.png" alt="Vonage Voyagers: Andi">
<p>The Authenticated page can only be accessed by users who have authenticated using their username and password.</p>