<h1>Two-factor Authenticated</h1>
<img src="/img/Voyagers_Ruby.png" alt="Vonage Voyagers: Ruby">
<p>The Two-factor Authenticated page can only be accessed by users who have authenticated using both their username and password and an OTP sent to them via the <a href="https://developer.vonage.com/en/verify/overview" target="_blank">Vonage Verfy API</a>.</p>
